<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Mediscreen</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <header>
            <h1>Mediscreen</h1>
        </header>

        <section>
            <p th:text="'Hello, ' + ${name} + '! Welcome to Mediscreen.'"></p>
            <h2>List of Medications</h2>
            <ul>
                <!-- loop through patients -->
                <li th:each="medication : ${medications}" th:text="${medication}">Medication</li>
            </ul>

            <br>
            <form th:action="@{/patient}" method="get">
                <button type="submit">Go to Form</button>
            </form>
        </section>

        <footer>
            <p>&copy; 2025 Mediscreen</p>
        </footer>
    </body>
</html>
