<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen - Patient</title>
</head>
<body>
    <h1>Add New Patient</h1>
    <form th:action="@{/patient/add}" th:object="${patient}" method="post">
        <label for="family">Family Name (Last Name):</label>
        <input type="text" id="family" th:field="*{family}" placeholder="Enter your family name" required />
        <br/>

        <label for="given">Given Name (First Name):</label>
        <input type="text" id="given" th:field="*{given}" placeholder="Enter your given name" required />
        <br/>

        <label for="dob">Date of Birth (YYYY-MM-dd):</label>
        <input type="date" id="dob" th:field="*{dob}" placeholder="Enter your date of birth" required />
        <br/>

        <label>Sex:</label>
        <input type="radio" id="male" th:field="*{sex}" value='M' required />
        <label for="male">Male</label>
        <input type="radio" id="female" th:field="*{sex}" value='F' />
        <label for="female">Female</label>
        <br/>

        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" placeholder="Enter your address" required />
        <br/>

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" th:field="*{phone}" placeholder="Enter your phone number" required />
        <br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
